.App {
    /* background-color: #282c34; */
    min-height: 100vh;
    
   
}




.nutrition {
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    
    
}

nav {

    text-align: center;
}

.list {
    display: block;
    float: left;
    position: relative;
    margin-left:10px;
   
}

.title {
color: turquoise;
font-size: 30px
}

.header {
    /* margin: auto; */
    width: 100%;
    position: absolute;
    padding: 5%;
   
    font-size: 50px;
   
}
